@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  color: #fff;
  background-color: #041898cb;
}

body {
  height: 100%;
  color: #ffffff00;
}

.custom-bg-container {
  position: absolute;
  top: -60px;
  left: -1600px;
  width: 200%;
  height: 200%;
  z-index: -5;
  overflow: hidden;

}

.content-container {
  position: relative;
  z-index: 10;
  height: 100%;
}

