@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  color: #fff;
  background-color: #041898cb;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  height: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.custom-bg-container {
  position: absolute;
  top: -60px;
  left: -1600px;
  width: 200%;
  height: 200%;
  z-index: -1;
  overflow: hidden;
}

.content-container {
  height: 100%;
  z-index: 1;
}

.container {
  overflow: hidden;
}

.dash {
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 767px) {
  .project-card-mobile {
    margin-top: 10px;
    font-size: 0.8em;
    padding: 10px;
    margin-right: auto;
    margin-left: 10px;
  }
  .project-card-title-mobile {
    font-size: 1.9em;
  }
  .project-card-description-mobile {
    font-size: 0.7em;
    font-weight: 600;
  }
  .project-card-date-mobile {
    font-size: 1em;
  }
  .project-card-icon-mobile {
    width: 30px;
    height: 30px;
  }
  .custom-bg-container {
    position: absolute;
    left: -300px;
    height: 220%;
    width: 200%;
    z-index: -1;
    overflow: hidden;
  }
}





