@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  color: #fff;
  background-color: #041898cb;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  height: 100%;
}

.custom-bg-container {
  position: absolute;
  top: -60px;
  left: -1600px;
  width: 200%;
  height: 200%;
  z-index: -1;
  overflow: hidden;

}

.content-container {
  height: 100%;
  z-index: 1;
}

.dash {
  transition: opacity 0.5s ease-in-out;
}





